
div.card{
    display: grid;
    gap: 20px;
    background-color: #EEEEEE;
    border: #0F0E0E solid;
    padding: auto;
    margin: auto;

}


form {
    color:#EEEEEE;
    background-color:#0F0E0E ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
h2 {
    border:solid #EEEEEE ;
    background-color:#0F0E0E ;
    color: #eee8e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
  background-color:#6A0F0F ;
 
}
